# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts MUST use LF
*.sh text eol=lf

# Dockerfile MUST use LF
Dockerfile text eol=lf
docker-compose.yml text eol=lf
.dockerignore text eol=lf
